<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Dojo Ninjas App index.html index.html" content="Dojo Ninjas App index.html index.html template">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dojo Ninjas App index.html</title>
        {% load static %}
        <script src="{% static 'dojo_ninjas_app/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'dojo_ninjas_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dojo_ninjas_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'dojo_ninjas_app/css/style.css' %}">
        <script src="{% static 'dojo_ninjas_app/js/java.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <h1>All Dojos & Ninjas</h1>
        </div>
    </body>
</html>