<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NinjA</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/java_ninja.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <img src="{{ url_for('static', filename='img/ninja.jpeg') }}" id="ninja3" alt="a picture of three Japanese samurai.">
            
            <h1>3 facts of the Japanese Ninja!</h1>
            <h3>The Word Ninja!</h3>
            <p>The word “ninja” as we know it is actually a rather recent term. Understanding it, though, first requires look at the Chinese writing system, which the Japanese system is based on. The Chinese word for ninja is 忍者, which Japanese pronounces as “ninja.” A lot of people will mistakenly tell you that the word means “invisible man,” but that’s a misconception. While the second character does roughly mean “person,” the first means “endure,” “spy,” or “hide.”  Thus, the word ninja means “a person who endures or spies.”

                But, in spoken Japanese, the word for “one who endures or hides” is actually “shinobi mono.” Usually it was shortened to just “shinobi.” This was the common word people used to refer to the clandestine warriors, not ninja.
                
                The word ninja came to be the exclusive term because it was easier to say for westerners. When westerners first arrived in Japan they were held in very high esteem because of their advanced technology. Often they were even more honored than Japanese themselves. “Shinobi” was difficult for westerners to say, so the word “ninja” was adopted by all as the standardized form.
                
                The word for female ninjas, by the way, is kunoichi. It was almost unknown outside of Japan until very recently, thanks mostly to anime. It has a short, but interesting story. The word for woman in written Japanese is 女. It’s made with three individual letters or words: く, which is pronounced “ku.” ノ, which is pronounced “no.” And 一 is pronounced as “ichi.” Ku-no-ichi.</p>
            <h3>The Origin of Ninja!</h3>
            <p>“One night, under the cover of rain and wind, Hachiman-yama was approached by a highly skilled shinobi who set fire to the temple.”

                That was first mention of a ninja in history. It was part of the Taiheiki, a 14th century war chronicle that recorded a war between two rival Japanese emperors. Since the author used the word “shinobi” without having to explain it, it meant the word was already in common use by that time. That puts the recorded emergence of ninja sometime around the 1300’s.
                
                According to ninja lore, though, the shinobi’s history stretched all the way back to the eight century. The Nihon Shoki, a pseudo-historical document riddled with mythology, claims that Prince Shook had a very skilled spymaster named Otomo-no-saibito.  The ninja manual Ninjutsu Ogiden claims he was so skilled that he and his organization of spies were given the title of “shinobi,” making him the ancestor of all ninja. Ninjutsu Ogiden was written in 1840, though, over a thousand years after Prince Shotoku walked the earth, so take that with a grain of salt.</p>
            <h3>Who were Ninja!</h3>
            <p>Spying, espionage, and assassinations where deemed beneath the noble samurai, but were absolutely necessary for warfare, so ninja generally came from the common classes of foot soldiers and peasants. That is not to say that no samurai held dual roles as ninja, however. One the most famous ninja of all time was Hattori Hanzo, who was recruited by the Tokugawa family as a samurai general. His skills as a ninja allowed him to save the life of Tokugawa Ieyasu, and later helped him become the ruler of Japan.

                In the Taiheiki, the second use of the word shinobi has a group of ninja acting like exactly like samurai. They had been fighting off an invading force with arrows, but when they exhausted their ammunition, the band committed suicide rather than allow themselves to be captured. Although shinobi did get their hands dirty, many ninja manuals extol valor, both on the battlefield and off.
                
                Still, a ninja could be nothing more than a common person with almost no training. Many locals were employed by ninja groups solely because they knew the terrain where they lived very well. Men like these were sent out to travel and gather information , then report back with what they learned. Even the lowliest peasant could be a ninja, provided he was clever and knew his way around.</p>
        </div>
    </body>
</html>