<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Fifth Django App index.html" content="Fifth Django App index.html template">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fifth Django App index.html</title>
        {% load static %}
        <script src="{% static 'new_fifth_django_app/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'new_fifth_django_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'new_fifth_django_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'new_fifth_django_app/css/style.css' %}">
        <script src="{% static 'new_fifth_django_app/js/java.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <form action="" method="post">
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>