<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
    <style>
    #rock{
        background-color: red;
    }
    #paper{
        background-color: yellow;
    }
    #scissors{
        background-color: green;
    }
    .select{
        display:inline-block;
        width: 400px;
        height:300px;
        margin: 50px;
    }
    </style>
  </head>
  <body>
  
  <button class='select' id="rock"><a href='/rock'>ROCK</a></button>
  
  <button class='select' id="paper"><a href='/paper'>PAPER</a></button>
  
  <button class='select' id="scissors"><a href='/scissors'>SCISSORS</a></button>

  <button class='select'><a href="/result">SHOOT</a></button>




  </body>
</html>