<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Fourth Django App index.html" content="Fourth Django App index.html template">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fourth Django App index.html</title>
        {% load static %}
        <script src="{% static 'new_fourth_django_app/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'new_fourth_django_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'new_fourth_django_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'new_fourth_django_app/css/style.css' %}">
        <script src="{% static 'new_fourth_django_app/js/java.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <form action="/some" method="post">
                {% csrf_token %}
                <p>Field One: <input name="one" type="text"></p>
                <p>Field Two: <input name="two" type="text"></p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>