<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="The Great Number Game Winner Board" content="python flask assignment called the great number game for coding dojo winner board template for sensei challenge.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/java.js') }}"></script>
        <title>Great Number Game Winner Board</title>
        </head>
    <body>
        <div class="container">
            <h1>Winner Board</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">First Name: </th>
                        <th scope="col">Last Name: </th>
                        <th scope="col">Number of Guesses: </th>
                    </tr>   
                </thead>
                <tbody>
                {% for win in session['winners'] %}
                    <tr>
                        <td>{{ win['first_name'] }}</td>
                        <td>{{ win['last_name'] }}</td>
                        <td>{{ win['attempts'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('cr_s') }}"><button type="button" class="btn btn-success btn-lg">Play Again?</button></a>
        </div>
    </body>
</html>