<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if name == "daniel" %}
    <h1>You had me at hello world! - instructor {{name}}</h1>
    <h2>GrassHoppas:</h2>
    <ul>
        {% for name in students %}
        <li><a href="/hello/{{name}}">Say hello to{{ name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Hello World! - {{ name }}</h1>
    {% endif %}

    <form action="/process" method="POST">
        <input type="text" name="first_name" placeholder="first_name">
        <input type="text" name="last_name" placeholder="last_name">
        <input type="submit">
    </form>
</body>
</html>