<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Show Maker index.html" content="Show Maker index.html template">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Show Maker index.html</title>
        {% load static %}
        <script src="{% static 'show_maker/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'show_maker/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'show_maker/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'show_maker/css/style.css' %}">
        <script src="{% static 'show_maker/js/java.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <h1 class="col-sm-4" >Add a New Show</h1>
                        <a href="/shows">Go Back</a>
                    </div>
                    <div class="row">
                        <form action="/shows/create" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="change" value="add_">
                            <div class="row">
                                <label for="add_title_input" class="col-sm-2 col-form-label">Title: </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="add_title_input" id="css_add_title_input">
                                </div>
                            </div>
                            <div class="row">
                                <label for="add_network_input" class="col-sm-2 col-form-label">Network: </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="add_network_input" id="css_add_network_input">
                                </div>
                            </div>
                            <div class="row">
                                <label for="add_release_date_input" class="col-sm-3 col-form-label">Release Date: </label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" name="add_release_date_input" id="add_css_release_date_input">
                                </div>
                            </div>
                            <div class="row">
                                <label for="add_description" class="col-sm-2 col-form-label">Description: </label>
                                <div class="col-sm-5">
                                    <textarea class="form-control" id="css_add_description_input" name="add_description_input" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <button type="sumbit" class="btn btn-warning" id="create_submit" >Create</button>
                                </div>
                            </div>
                            <div class="row">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tag %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
