<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Books Authors App index.html index.html" content="Books Authors App index.html index.html template">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Books Authors App index.html</title>
        {% load static %}
        <script src="{% static 'books_authors_app/js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'books_authors_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'books_authors_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">
        <script src="{% static 'books_authors_app/js/java.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-7" id="add_book">
                    <div class="row">
                        <h1 class="col-sm-4" >Add a Book</h1>
                    </div>
                    <div class="row">
                        <form action="/add" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <label for="book_input" class="col-sm-2 col-form-label">Book: </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="book_input" id="css_book_input">
                                </div>
                            </div>
                            <div class="row">
                                <label for="description" class="col-sm-2 col-form-label">Description: </label>
                                <div class="col-sm-5">
                                    <textarea class="form-control" id="css_description" name="description" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <button type="sumbit" class="btn btn-warning col-sm-1" id="add_submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-5">
                    <table class="table" id="table_one">
                        <thead>
                            <tr>
                                <th scope="col">ID #</th>
                                <th scope="col">Title</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for book in all_books%}
                            <tr>
                                <td>{{book.id}}</td>
                                <td>{{book.title}}</td>
                                <td><a href="/books/{{book.id}}">Veiw</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
