<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Books Authors App index_add.html index.html" content="Books Authors App index_add.html index.html template">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Books Authors App index_add.html</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'books_authors_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'books_authors_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">
        <script src="{% static 'books_authors_app/js/jquery.js' %}"></script>
        <script src="{% static 'books_authors_app/js/java.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <h1>{{one_view.title}}</h1>
            <p>ID: {{one_view.id}}</p>
            <p>Description: {{one_view.desc}}</p>
            <h5>Authors</h5>
            <ul>
                {% for thors in one_view.authors.all %}
                <li>{{thors.first_name}} {{thors.last_name}}</li>
                {% endfor %}
            </ul>
            <form action="/books/{{one_view.id}}/new" method="post">
                {% csrf_token %}
                <select name="option1">
                {% for b in one_author_book3 %}
                    <option value="{{b.id}}">{{b.first_name}} {{b.last_name}}</option>
                {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Action</button>
            </form>
        </div>
    </body>
</html>